.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background: rgb(78, 78, 138);
  border-radius: 8px;
}

.quote {
  padding: 20px 45px;
  color: white;
  font-size: 15px;
  align-items: center;
}
.line {
  width: 60px;
  height: 1.5px;
  color: white;
}
.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 7px;
}
.author {
  color: white;
  font-size: 10px;
  font-weight: 500;
}
.icons {
  display: flex;
  gap: 8px;
  cursor: pointer;
}
